/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
	#menu {
		text-align:center;
		line-height:2;
	}	
	#logo-menu {
		padding:0;	
	}
	#links-menu {
		font-size:16px;
	}
	#social-menu {
		font-size:16px;
	}
	#logo-sobre {
		font-size:16px;
	}
	#conteudo {
		padding-top:20px;
	}	
	.container-fluid.isotp {
		padding:0;	
	}
	.itens {
		margin:5px 0 5px 0;
	}	
	#contato .form-group:first-child input {
		margin-top:15px;	
	}
	
	/*#links-menu, #social-menu {
		display:none;
	}*/
	
	.form-group div[class*="col-"]:first-child {
		margin-bottom:15px;	
	}
	
	#servicos .servicos-item {
		border-bottom:1px solid rgba(141,153,174, 0.1);
		margin:0;
		padding-bottom:20px;
	}
	
	#logo-menu img {
		display: block;
    	margin-left: auto !important;
    	margin-right: auto !important;
	}
	
	.servicos-descricao {
		min-height:0;
	}
	
	#links-menu {
		margin-top:20px;
		display:block;
		height:auto;
	}
	
	#links-menu li {
		width:100%;
		margin:0;
		padding:0;
		height:0;
		float:none;	
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }