/*
 *---------------------------------------------------------------
 * DEFAUL CSS
 *---------------------------------------------------------------
 *
 * CSS padrao para elementos da pagina
 * color:#ff6d00;
*/

html, body {
	width: 100%;
	height: 100%;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	font-weight: 400;
	font-style: normal;
	color: #373232;
	color: rgba(55,50,50, 1);
	font-size:1em;
	font-family: 'Source Sans Pro', sans-serif;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	background: #EDF2F4;
	background: rgba(237, 242, 244, 1);
	background-image:url(site/images/subtle-pattern-7.jpg);
}

*,
*:before,
*:after {
	border: 0 none;
	margin: 0;
	padding: 0;
	font-size: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

a {
	color:inherit;
	text-decoration:none !important;
	cursor:pointer;
	transition: all 0.4s ease 0.1s;
}

a:hover {
	text-decoration:none !important;
}

a:active {
	text-decoration:none !important;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto auto;
}

/*
 *---------------------------------------------------------------
 * CUSTOM CSS
 *---------------------------------------------------------------
 *
*/
.radius {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.radius-bottom {
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.radius-top {
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	 border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}

.shadow {
	box-shadow: 0 5px 5px -5px #8D99AE;
}

.realign {
	margin-top: -150px !important;
	display:block;
}

.hidden {
	display:none;
	visibility:hidden;
}

.link:hover {
	color:#00a39d;
	cursor:pointer !important;
}

.link:active {
	text-decoration:none;	
}

.padding-bottom {
	padding-bottom:10px;	
}

/* CUSTOM BOOTSTRAP */
.form-control:focus {
  	border-color: #00a39d; 
	box-shadow: inset 0 1px 1px rgba(28, 68, 75, 0.075), 0 0 8px rgba(28, 68, 75, 0.6);
}
	
.visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 2s linear;
}	
.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
}

.hexagon {
	position: relative;
	width: 75px; 
  	height: 43.30px;
	background-color: #d90429;
	margin: 21.65px 0;
}

.hexagon:before,
.hexagon:after {
	content: "";
	position: absolute;
	width: 0;
	border-left: 37.5px solid transparent;
  	border-right: 37.5px solid transparent;
}

.hexagon:before {
	left:0;
  	bottom: 100%;
  	border-bottom: 21.65px solid #d90429;
}

.hexagon:after {
	left:0;
  	top: 100%;
  	width: 0;
  	border-top: 21.65px solid #d90429;
}

/* FORM */
label.error {
	font-size:12px;
	color:#F66;
	font-weight:normal;
}

input.error, textarea.error{
	border:1px solid #F66 !important;
}

input.valid, textarea.valid{
	border:1px solid #0C3 !important;
}

/*
 *---------------------------------------------------------------
 * SITE CSS
 *---------------------------------------------------------------
 *
*/	
		/* MENU */		
		#menu {
			margin-top:20px;
			text-align:left;
			overflow:hidden;
			line-height:6;
		}
		
		#menu ul { 
			padding: 0; 
			list-style-type: none; 
			color:inherit;
		}
				
		#logo-menu {
			display:block;
		}
			#logo-menu img {
				margin-left:0;
			}
		
		#links-menu {
			font-size:16px;
			text-align:right;
		}
		
			#links-menu li {	
				margin-right:15px;
				display:inline-block;
			}
			
			#links-menu li a div {				
				margin:2px 2px 4px 0;
			}
		
			#links-menu li a:hover {
				color:#00a39d;
			}
		
		#social-menu {
			padding-top:3px;
			text-align:right;
			font-size:12px;
			opacity:0.7;	
		}	
		
		#social-menu li a i {
			font-size:18px;
		}
		
		#social-menu li {
			line-height:2;
			margin-right:10px;
			display:inline-block;
		}
		/* FIM MENU */
		
		/* CONTEUDO */		
		#conteudo {
			display:block;
			height:auto;
			overflow:hidden;
		}
		
		.titulo {
			display:block;
			font-size:24px;
			letter-spacing:-1px;	
			color:#373232;
			font-weight:500;
		}
		
		.descricao {
			margin-top:10px;
			display:block;
			font-size:14px;
		}
				
			.itens {
				display:block;
				overflow:hidden;
				cursor:default;
				margin:5px;
			}

			.effect img {
				-webkit-transition: all 1s ease;
				   -moz-transition: all 1s ease;
				     -o-transition: all 1s ease;
				    -ms-transition: all 1s ease;
					    transition: all 1s ease;
						-webkit-filter: grayscale(100%); filter: grayscale(100%); 
			}
							
			.effect:hover img {
				opacity:0.9;
				-webkit-filter: grayscale(0%); filter: grayscale(0%); 
			}
			
			.item-image {
				min-height:60px;
			}
			
			.item-image img { 
				width: 100%; 
				height: 100%; 
			}
		
			.item-descript {
				display:block;
				overflow:hidden;
				text-align:center;
				padding:10px;
				bottom:0px;
				min-height:40px;
				background:#FFF;
				text-transform:uppercase;
				font-size:12px;
			}
			
		#contato {
			display:block;
			clear:both;	
			margin-top:15px;
		}
		
		#footer {
			margin-top:20px;
			margin-bottom:30px;
			display:block;
			font-size:14px;
			opacity:0.7;
		}
			
		/*servicos */
		#servicos { 
			margin:0;
			padding: 0; 
			list-style-type:none;
			color:inherit;
		}
		
		#servicos .servicos-item {
			position:relative;
			display:block;
			margin:20px 20px 0 0;
			padding:12px;			
			left:0;
			right:0;	
			text-align:center;
		}
		
		#servicos .servicos-item:first-child {
			border-bottom:1px solid rgba(141,153,174, 0.1);
		}
		
		#servicos .servicos-item:nth-child(2) {
			border-bottom:1px solid rgba(141,153,174, 0.1);
		}
		
		.servicos-icone {		
			font-size:48px;
			text-align:center;
		}
		
		.servicos-titulo {			
			text-align:center;		
			font-size:20px;
		}
				
		.servicos-descricao {
			min-height:200px;
			display:block;			
		}
		
		.sobre-titulo {			
			text-align:left;
			font-size:20px;
			letter-spacing:-1px;
		}
		
		.servicos-items-descricao {
			margin-top:10px;
			text-align:center;
			margin-left:30px;
			list-style: none;
   			list-style-position: outside;	
		}
		
		.servicos-items-descricao li:before {
			content: '✔';   
			margin-left: -1em;
			margin-right: .3em;
			color:#25b87d;
		}
		
		.ul-sobre {
			margin-left:20px;
		}
		
		.divline {
			border:1px solid red;
		}
		
		
		/* FIM CONTEUDO */
		
		/* HOME ISOTOPE */		
		.container-fluid.pg-inside {
			clear:both;
			margin-top:10px;
			display:block;
			height:auto;
		}
		.container-fluid.pg-inside .row [class*='col-']:not(:first-child),
		.container-fluid.pg-inside .row [class*='col-']:not(:last-child)
		{
		  padding-right: 0;
		  padding-left: 0;
		}
		
		.row {
		   margin-left:0;
		   margin-right:0;
		}
		
		.item { 
		  border: none;
		}
		
		/* Isotope Transitions
		------------------------------- */
		.isotope,
		.isotope .item {
		  -webkit-transition-duration: 0.8s;
			 -moz-transition-duration: 0.8s;
			  -ms-transition-duration: 0.8s;
			   -o-transition-duration: 0.8s;
				  transition-duration: 0.8s;
		}
		
		.isotope {
		  -webkit-transition-property: height, width;
			 -moz-transition-property: height, width;
			  -ms-transition-property: height, width;
			   -o-transition-property: height, width;
				  transition-property: height, width;
		}
		
		.isotope .item {
		  -webkit-transition-property: -webkit-transform, opacity;
			 -moz-transition-property:    -moz-transform, opacity;
			  -ms-transition-property:     -ms-transform, opacity;
			   -o-transition-property:         top, left, opacity;
				  transition-property:         transform, opacity;
		}